{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<h1 class="section-header dark-blue">Change Password</h1>
<div class="text-block-container">

    <section class="text-block">
        <div class="subtext-block">
            <div class="subtext-item">
                {% if messages %}                    
                    {% for message in messages %}
                        <h5><strong>{{message}}</strong></h5>
                    {% endfor %}  
                {% endif %}
                {% if form %}
                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="green button" type="submit" name="action">{% trans "Change Password" %}</button>
                    </form>
                {% else %}
                    <p>{% trans 'Your password is now changed.' %}</p>
                {% endif %}
            </div>
        </div>
    </section>

</div>

{% endblock %}
