{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load wagtailcore_tags %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}

    <h1 class="section-header dark-blue">Join ESW</h1>
    <div class="text-block-container">

        <section class="text-block">
            <div>
                <h2 class="text-block-header">{% trans "Sign Up" %}</h2>
            </div>
            <div class="subtext-block">
                <div class="subtext-item">
                    <p>Please fill out the form below to create your account.</p>
                    <p>Already have an account? Then please <a href="{{ login_url }}">sign in</a></p></p>
                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="green button" type="submit">{% trans "Sign Up" %}</button>
                    </form>
                </div>
            </div>
        </section>

    </div>

{% endblock %}
