{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Verify your Email Address" %}{% endblock %}

{% block content %}
{% url 'account_email' as email_url %}

<h1 class="section-header dark-blue">Verification Email Sent</h1>
<div class="text-block-container">

    <section class="text-block">
        <div class="subtext-block">
            <div class="subtext-item">
                <p>Thank you for signing up as a member of the Entomological Society of Washington!</p>
                <p>Within the next few minutes, a verification email should appear in your inbox. Please click on the link inside the email to confirm your email address. If you don't see it, be sure to check you spam folder.</p>
                <p>To prevent any future emails from going to your spam folder, whitelist our email [NEED A CENTRAL EMAIL ADDRESS FOR THE SOCIETY] or add it to your contact list!</p>
                <p><strong>Note:</strong> you can also update your <a href="{{ email_url }}">email address</a> anytime!</p>
            </div>
        </div>
    </section>

</div>

{% endblock %}
