{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<h1 class="section-header dark-blue">Edit {{ user.member }}'s Profile</h1>
    <div class="text-block-container">

        <section class="text-block">
            <div class="subtext-block">
                <div class="subtext-item">
                    <form id="main_form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div id="member-form">
                            <label>Primary Email*</label>
                            {{ user_form.email }}

                            <br>
                            <p>Secondary Email(s)</p>

                            {{ email_inline_form.management_form }}
                            {% for email in email_inline_form %}
                                <div class="email-form">
                                    {{ email }}
                                </div>
                            {% endfor %}

                            <button id="add-email-form" class="green button btn">Add Another Email</button>
                            <br>

                            <label>{{ profile_form.first_name.label }}</label>
                            {{ profile_form.first_name }}

                            <label>{{ profile_form.middle_name.label }}</label>
                            {{ profile_form.middle_name }}

                            <label>{{ profile_form.last_name.label }}</label>
                            {{ profile_form.last_name }}

                            <label>{{ profile_form.suffix.label }}</label>
                            {{ profile_form.suffix }}

                            <label>{{ profile_form.address1.label }}</label>
                            {{ profile_form.address1 }}

                            <label>{{ profile_form.address2.label }}</label>
                            {{ profile_form.address2 }}

                            <label>{{ profile_form.address3.label }}</label>
                            {{ profile_form.address3 }}

                            <label>{{ profile_form.city.label }}</label>
                            {{ profile_form.city }}

                            <label>{{ profile_form.state.label }}</label>
                            {{ profile_form.state }}

                            <label>{{ profile_form.zip_code.label }}</label>
                            {{ profile_form.zip_code }}

                            <label>{{ profile_form.country.label }}</label>
                            {{ profile_form.country }}

                            {{ phone_inline_form.management_form }}
                            {% for phone in phone_inline_form %}
                                <div class="phone-form">
                                    {{ phone | crispy }}
                                </div>
                            {% endfor %}

                            <button id="add-phone-form" class="green button btn">Add Another Phone</button>
                            <br>

                            <label>{{ profile_form.info_visible.label }}</label>
                            {{ profile_form.info_visible }}
                            <br>

                            <label>{{ profile_form.lsid.label }}</label>
                            {{ profile_form.lsid }}

                            <label>{{ profile_form.orcid.label }}</label>
                            {{ profile_form.orcid }}

                            <label>{{ profile_form.photo.label }}</label>
                            {{ profile_form.photo }}
                            <span>Photo will be cropped into a 300x300 square</span>
                            <br>
                            <br>

                            <label>{{ profile_form.url.label }}</label>
                            {{ profile_form.url }}
                            <br>

                            {{ geography_inline_form.management_form }}
                            {% for geography in geography_inline_form %}
                                <div class="geography-form">
                                    {{ geography }}
                                </div>
                            {% endfor %}

                            <button id="add-geography-form" class="green button btn">Add Another Geography</button>
                            <br>

                            {{ subject_inline_form.management_form }}
                            {% for subject in subject_inline_form %}
                                <div class="subject-form">
                                    {{ subject }}
                                </div>
                            {% endfor %}

                            <button id="add-subject-form" class="green button btn">Add Another Subject</button>
                            <br>
                            
                            {{ taxonomy_inline_form.management_form }}
                            {% for taxon in taxonomy_inline_form %}
                                <div class="taxonomy-form">
                                    {{ taxon }}
                                </div>
                            {% endfor %}

                            <button id="add-taxonomy-form" class="green button btn">Add Another Taxonomy</button>
                            <br>

                        </div>
                        <br>
                        <button type="submit" class="green button">Save Changes</button>
                    </form>
                    <a href="{% url 'profile' %}"><button class="btn-danger button">Cancel</button></a>
                </div>
            </div>
        </section>

    </div>

    <script src="{% static 'js/formsets.js' %}"></script>

{% endblock %}