{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load static %}

{% block title %}Membership Directory{% endblock %}

{% block content %}

    <h1 class="section-header dark-blue">Membership Directory</h1>
    <div class="text-block-container">

        <section class="text-block">
            <div class="subtext-block">
                <div class="subtext-item">
                    <ul>
                        {% for member in members %}

                        <a href="{% url 'member-profile' member.member_id %}"><li>{{ member.first_name }} {{member.last_name}}</li></a>

                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>

    </div>

{% endblock %}