{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

<title>404 -- Page Not Found</title>

{% block content %}

<h1 class="section-header dark-blue">Page Not Found</h1>
    <div class="text-block-container">

        <section class="text-block">
            <div class="subtext-block">
                <div class="subtext-item">
                    <p>Sorry, this page does not exist</p>
                    
                </div>
            </div>
        </section>

    </div>

{% endblock %}