{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

<!-- To do: figure out how to properly configure wagtail menus -->
<!--
{% load menu_tags %}

{% main_menu template="menus/main_menu.html" sub_menu_template="menus/sub_menu.html" %}
-->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-color">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="brand" href="#">ESW</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Events
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'upcoming_meetings' %}">Upcoming Meetings</a>
                        <a class="dropdown-item" href="{% url 'past_meetings' %}">Past Meetings</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Publications
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Proceedings of the Entomological Society of Washington</a>
                        <a class="dropdown-item" href="#">Memoirs and Other Publications</a>
                        <a class="dropdown-item" href="#">Submit a Manuscript</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Membership
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Membership Directory</a>
                        <a class="dropdown-item" href="#">Membership Gallery</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Young Entomologists Group
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">About YEG</a>
                        <a class="dropdown-item" href="#">Upcoming Meetings</a>
                        <a class="dropdown-item" href="#">Event Gallery</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">History of the ESW</a>
                        <a class="dropdown-item" href="#">Seal</a>
                        <a class="dropdown-item" href="#">Current Officers</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="menu-buttons">
            <button class="green button">Join!</button>
            <button class="green button">Log In</button>
        </div>
    </nav>
</header>